.partnerships{
    text-align: center;
    margin-bottom: 6.5rem;

    &__header{
        margin-bottom: 5.5rem;
        text-transform: uppercase;
        @include font($drpb, 1.8rem)
    }
}

.partner{
    box-shadow: 0 0 2rem $color_gray-bg;
    min-height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 70%!important;
    }
}