<div class="contact">
  <div class="contact__phone contact__element contact__element--1">
    <i class="fas fa-mobile-alt"></i>
    <span>+994 12 488 88 88</span>
    <span>+994 50 212 22 97</span>
  </div>
  <div class="contact__email contact__element contact__element--2">
    <i class="fas fa-envelope"></i>
    <span>info@edupro.az</span>
    <span>course@edupro.az</span>
  </div>
  <div class="contact__location contact__element contact__element--3">
    <i class="fas fa-location-arrow"></i>
    <span>Bakı şəhəri, M.Araz küçəsi 50C</span>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="footer__about">
            <h5 class="footer__header footer__about--header">Haqqımızda</h5>
            <p class="footer__paragraph footer__about--paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="footer__transitions">
            <h5 class="footer__header footer__transitions--header">Keçidlər</h5>
            <ul class="footer__list">
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Haqqımızda</a></li>
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Kurslar</a></li>
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Bizimlə Əlaqə</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="footer__courses">
            <h5 class="footer__header footer__courses--header">Kurslar</h5>
            <ul class="footer__list">
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Digital
                  Marketinq</a></li>
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Qrafik və Veb
                  Dizayn</a></li>
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Proqramlaşdırma</a>
              </li>
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> 3D Modelləşdirmə və
                  Vizualizasiya</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="footer__follow">
            <h5 class="footer__header footer__follow--header">Bizi İzləyin</h5>
            <ul class="footer__list">
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Facebook</a></li>
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> İnstagram</a></li>
              <li class="footer__list-item"><a href="#" class="footer__list-text"><i class="fas fa-chevron-right footer__list-icon"></i> Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__copyright">
    Copyright &copy; Avirtel 2019. Bütün Hüquqları Qorunur.
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="libs/owl.carousel/dist/owl.carousel.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="libs/select2/dist/js/select2.min.js" type="text/javascript" charset="utf-8" async defer></script>


<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl_tIRv0tzVyO6Bd0mvC9EzqxQlUDDOtU&callback=initMap" async
  defer></script>
</body>

</html>