$aznb:jaznb;
$drp:DINRoundPro;
$drpb:DINRoundPro-Black;
$drpm:DINRoundPro-Medium;
$drpbold:DINRoundPro-Bold;
$apr:AbelPro-Regular;

$color_black: #000;
$color_white: #fff;

$color_primary: rgb(67, 112, 168);
$color_primary-dark: rgb(38, 68, 105);
$color_text: rgb(85, 85, 85);

$color_text-2: rgb(187, 187, 187);
$color_text-3: rgb(153, 153, 153);
$color_text-4: rgb(182, 182, 182);
$color_border: rgb(238, 238, 238);

$color_gray-bg: rgb(246, 246, 246);
$color_gray-light: rgb(191, 191, 191);

$color_black-2: rgb(51, 51, 51);
$color_black-3: rgb(34, 34, 34);
